@model BennyBooks.Models.Company

<form method="post" asp-action="Upsert" enctype="multipart/form-data"> @*entype is what allows for image uploads*@
    <input asp-for="Id" hidden/>
    
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Id != Guid.Empty? "Update" : "Create") Company</h2>
                    <hr/>
                </div>
                <div class="mb-3">
                    <!--Class is already available which allows us to use all properties from our model using the "asp-for"-->
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <!--Class is already available which allows us to use all properties from our model using the "asp-for"-->
                    <label asp-for="StreetAddress"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <!--Class is already available which allows us to use all properties from our model using the "asp-for"-->
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3 col-12">
                    <!--Class is already available which allows us to use all properties from our model using the "asp-for"-->
                    <label asp-for="State"></label>
                    <textarea asp-for="State" class="form-control" ></textarea>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <!--Class is already available which allows us to use all properties from our model using the "asp-for"-->
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <!--Class is already available which allows us to use all properties from our model using the "asp-for"-->
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @if (Model.Id != Guid.Empty)
                    {
                        <button type="submit" class="btn btn-primary" style="width:10rem">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:10rem">Create</button>
                    }
            
                    <!--Directs user to the home page-->
                    <a asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width: 10rem">
                        Back to List
                    </a>
                </div>  
        </div>
    </div>
    </div>

</form>

@section Scripts{
    @{
        // Uses partial view, use _ to indicated a partialview. Makes it so validation happens on Client side not server side(Controller)
    <partial name="_ValidationScriptsPartial" />
    }
}
