@model IEnumerable<ShoppingCart>

@{
    ViewData["Title"] = "Index";
}

<section class="h-100">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Cart</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
