html {
  font-size: 14px;
}

.tox-notifications-container { 
/*Gets rid of annoying Tiny.cloud notification*/
    display: none !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}